<div class="col-sm-6">

  <div class="form-group">
    <label for="title" class="control-label">Title</label>
    <input type="text" ng-model="ctrl.sketch.title" class="form-control" id="title" required>
  </div>

  <div class="form-group">
    <label for="description" class="control-label">Description</label>
    <textarea ng-model="ctrl.sketch.description" id="description" cols="30" rows="4" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <h4>Tags:</h4>
  </div>

  <div class="form-group">
    <h4>Upload Image:</h4>

    <input type="file" ngf-select ng-model="ctrl.picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
    <i ng-show="sketchForm.file.$error.required">*required</i><br>
    <i ng-show="sketchForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
    <img ng-show="myForm.file.$valid" ngf-thumbnail="ctrl.picFile" class="thumb">
    <button ng-click="ctrl.picFile = null" ng-show="ctrl.picFile">Remove</button>
    <br>

    <span class="progress" ng-show="ctrl.picFile.progress >= 0">
      <div style="width:{{ctrl.picFile.progress}}%" ng-bind="ctrl.picFile.progress + '%'"></div>
    </span>
    <span ng-show="ctrl.picFile.result">Upload Successful</span>
    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" ng-disabled="sketchForm.$invalid">
  </div>

</div>
