<div class="sketch">
  <h2 class="page-header">{{ ctrl.sketch.title }}</h2>

  <h4>By: <a href ui-sref="home.artist({id: ctrl.sketch.user.id })">{{ ctrl.sketch.user.username }}</a></h4>

  <p ng-if="ctrl.sketch.description">{{ ctrl.sketch.description }}</p>

  <div class="tags" ng-if="ctrl.sketch.tags">
    <p>
      <strong>Tags:</strong>
      <span ng-repeat="tag in ctrl.sketch.tags" class="label label-default tag">{{ tag.name }}</span>
    </p>
  </div>

  <img class="img-responsive" ng-src="{{ ctrl.sketch.image_large }}">

  <p ng-show="ctrl.ifOwner()">
    </br><a href ui-sref="home.editSketch({id: ctrl.sketch.id})" class="btn btn-info" role="button">Edit Sketch</a>
    <a href class="btn btn-danger" role="button" ng-click="ctrl.deleteSketch()">Delete Sketch</a>
  </p>
</div>
