<div class="artist">
  <h2 class="page-header">{{ ctrl.artist.username }}</h2>
  <h4 ng-if="ctrl.artist.first_name || ctrl.artist.last_name">{{ ctrl.artist.first_name }} {{ ctrl.artist.last_name }}</h4>
  <p>{{ ctrl.artist.email }}</p>
  <p ng-if="ctrl.artist.bio">{{ ctrl.artist.bio }}</p>

  <p ng-show="ctrl.ifOwner()"></br><a href ui-sref="home.editArtist({id: ctrl.artist.id})" class="btn btn-info" role="button">Edit Profile</a></p>
</div>

<div>
 <sketch ng-repeat="sketch in ctrl.sketches" data="sketch"></sketch>
</div>
