<footer class="footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href ui-sref="home.sketches">Sketches</a></li>
      <li><a href ui-sref="home.artists">Artists</a></li>
      <li ng-hide="signedIn()"><a href ui-sref="home.login">Log In</a></li>
      <li ng-hide="signedIn()"><a href ui-sref="home.register">Register</a></li>
      <li ng-show="signedIn()"><a href ui-sref="home.newSketch">New Sketch</a></li>
      <li ng-show="signedIn()"><a href ui-sref="home.profile">Profile</a></li>
      <li ng-show="signedIn()"><a href ng-click="logout()">Logout</a></li>
    </ul>

    <p><a href="https://github.com/MitulMistry/sketchbook" target="_blank">Github repo for this site</a></p>
    <p>&copy; Mitul Mistry <span id="copyright">2017</span></p>
  </div>
</footer>
