<nav ng-controller="NavController" class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sketchbook</a>
    </div>

    <div class="hidden-xs">
      <ul class="nav nav-pills navbar-nav">
        <li ui-sref-active="active"><a href ui-sref="home.sketches">Sketches</a></li>
        <li ui-sref-active="active"><a href ui-sref="home.artists">Artists</a></li>
        <li ng-hide="signedIn()" ui-sref-active="active"><a href ui-sref="home.login">Log In</a></li>
        <li ng-hide="signedIn()" ui-sref-active="active"><a href ui-sref="home.register">Register</a></li>
        <li ng-show="signedIn()" ui-sref-active="active"><a href="#/artists/1">Profile</a></li>
        <li ng-show="signedIn()" ui-sref-active="active"><a href ui-sref="home.newSketch">New Sketch</a></li>
        <li ng-show="signedIn()"><a href>Logged in as {{ user.username }}</a></li>
        <li ng-show="signedIn()" ui-sref-active="active"><a href ng-click="logout()">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>
