@import url('https://fonts.googleapis.com/css?family=Lato');

$primary-black: black;
$primary-red: #BC0A3C;
$primary-red-highlight: #f20e4e;
$primary-red-dark: #9b042f;
$primary-red-light: #efbfcd;
$gray1: #846971;
$gray1-dark: #664e55;
$gray1-dark-transparent: rgba(102, 78, 85, .6);

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

a {
  color: $primary-red;
  transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
}

a:hover, a:focus {
  color: $primary-red-highlight;
  text-decoration: none;
}

// Nav header --------
.nav-pills > li > a {
  color: $primary-black;
  border-radius: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: $primary-red;
}

.navbar-brand {
  color: $primary-black;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: $primary-red;
}
// --------

.btn-primary,
.btn-primary[disabled]:hover {
  color: white;
  background-color: $primary-red;
  border-color: $primary-red-dark;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: white;
  background-color: $primary-red-highlight;
  border-color: $primary-red;
}

.btn-primary:active:focus {
  color: white;
  background-color: $primary-red-dark;
  border-color: $primary-red-dark;
}

// Jumbotron --------
.jumbotron {
  background: #000 image-url("sketchbook_jumbo_bg_01.jpg") no-repeat center center;
  background-size: cover;

  h1 {

  }

  h3 {
    color: $primary-red;
  }
}

// --------

.tag {
  margin-right: 4px;
}

.sketch {
  margin-bottom: 6px;

  h4 {
    a {
      color: $primary-black;
    }

    a:hover, a:focus {
      color: $primary-red;
    }
    margin-bottom: 4px;
  }

  h5 {
    margin-top: 4px;
    font-size: 16px;
  }
}

.artist {
  padding-bottom: 20px;
}

label {
  //display: block;
  margin-right: 20px;
}

// Tag buttons --------
.btn-tag {
  margin: 0px 4px 4px 0px;
  padding: 3px 8px;
}

.btn-tag-reset {
  color: #fff;
  background-color: $gray1;
  border-color: $gray1-dark;
}

.btn-tag-reset:hover, .btn-tag-reset:focus {
  color: #e2d5d9;
}

.btn-tag-reset[disabled]:hover,
.btn-tag-reset[disabled]:focus {
  color: #fff;
}

.btn-tag-active,
.btn-tag-active:focus,
.btn-tag-active:hover {
  color: white;
  background-color: $primary-red;
  border-color: $primary-red-dark;
}
// --------

// masonry style columns --------
// http://www.bootply.com/118335
*, *:before, *:after {box-sizing:  border-box !important;}

.row {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em;
}

.item {
  display: inline-block;
  padding:  .25rem;
  width:  100%;
}

.well {
  position:relative;
  display: block;
}
// --------

.form-control:focus {
  border-color: $gray1-dark;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $gray1-dark-transparent;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $gray1-dark-transparent;
}

// Pagination --------
.pagination > li > a,
.pagination > li > span {
  color: $primary-red;
  // border: 1px solid purple;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
  color: $primary-red-highlight;
}

.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li.active > a:focus {
  background: $primary-red;
  border-color: $primary-red;
  // color: #fff;
}
// --------

// https://stackoverflow.com/a/9649914
.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.footer {
  color: white;
  background-color: $primary-red;
  text-align: center;

  ul.nav-pills {
    padding: 10px 0 10px 0;

    li {
      margin: 0 20px 0 20px;
    }

    a {
      color: white;
    }

    a:hover {
      color: $primary-red-light;
      background-color:inherit;
    }
  }

  a {
    color: white;
  }

  a:hover {
    color: $primary-red-light;
  }
}

// ng-file-upload styles --------
.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  //top: 7px;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}
// --------
