<!DOCTYPE html>
<html>
  <head>
    <title>Sketchbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body ng-app="app">
    <ui-view></ui-view>
  </body>
</html>
